<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.example.demo.test.TestNGTest"/>
      <methods>
          <exclude name="testPostRequest"/>
          <exclude name="testTestNGONE"/>
          <exclude name="testTestNGTWO"/>
          <exclude name="testTestNGTHREE"/>
          <exclude name="testTestNGFOUR"/> 
          <include name="testPostRequestUsingH2DB"/>
        </methods>
        <class name="com.example.demo.test.testH2" >
                <methods>
                    <include name="readCSVAndStoreInH2" />
                    <include name="fetchDataFromH2AndPrint" />
                </methods>
            </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
